<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Gemini</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<main>
    <h1>Google Gemini API Demo Call</h1>
    <form action="/model/post" enctype="multipart/form-data" method="post">
        <label class="block" for="file">Upload file</label>
        <input accept="image/png, image/jpeg, application/pdf" class="block" id="file" name="file" type="file">
        <button type="submit">Upload</button>
    </form>
</main>
</body>
</html>